APP_TITLE=QRKot_Spreadsheets
DESCRIPTION=Благотворительный фонд поддержки котиков QRKot
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db 
SECRET=SekretnoeSlovo
FIRST_SUPERUSER_EMAIL=super_admin@domain.reg
FIRST_SUPERUSER_PASSWORD=super_pass
TYPE=service_account
PROJECT_ID=green-apple-537
PRIVATE_KEY_ID=f5b79c16544e1019093d63563ba210fa2a7777888
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----PRIVATE_KEY-----END PRIVATE KEY-----\n"
CLIENT_EMAIL=some_google_user@green-apple-537.iam.gserviceaccount.com
CLIENT_ID=111111111111111112222
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/some_google_user4%40green-apple-537.iam.gserviceaccount.com
UNIVERSE_DOMAIN=googleapis.com
EMAIL=some_google_user@gmail.com